button {
    background-color: #ffffff;
    color: darkseagreen;
    border: 2px solid seagreen;
    text-decoration: none;
    font-size:18px;
    text-align: center;
    padding: 15px 20px;
    margin: 4px 4px;
    /* margin-bottom: 8px; */
    height: 75px;
    width: 178px;
}

 h2, p {
    height: 60px;
    width: 295px;
} 


.column {
    float:left;
    padding: 10px;
}

.column.left {
    width: 25%;
}

.colum.middle {
    width: 25%;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.card {
    box-shadow: 0 4px 8 px rgba(0,0,0,0.2);
    width: 100%;
    transition: 0.3 s;
    padding: 15px;
}

.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
} 


.full-row {
    box-sizing: border-box;
}