/* new code now goes here */
/* code to display the question, solution and code output section */

body {
  overflow-x: hidden;
  overflow-y:hidden;
}
.row::after {
    content: "";
    display: table;
    clear: both;
}
  
  .solution-section {
    float: right;
    padding: 10px;
    height: 420px;
    width: 607px;  
  }

  .question-section {
    float:left;
    padding: 10px;
    height: 650px;  
    width:607px;
    overflow:hidden;
    overflow-y:scroll;
  } 

  ::-webkit-scrollbar {
    width: 5px;
    height: 10px;
  } 
/* Handler has a background color of blue */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 2px;
  border-radius: 4px;
  background : steelblue; 
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255,0,0,0.4); 
}

  .code-output {
    height: 197px;
    width: 607px;
    float: right;
    padding: 10px;
  }
  .element-style {
      height:60px;
      width: 295px;
      padding-left:15px;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    }
 
  button {
    background-color: #ffffff;
    /* color: darkseagreen; */
    /* border: 2px solid seagreen; */
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    padding: 15px 20px;
    margin: 4px 4px;
    /* margin-bottom: 8px; */
    height: 55px;
    width: 178px;
    align-items: flex-end;
    margin-left:270px;
    cursor:pointer;
  }

  /*styling for the code editor*/
  textarea {
      min-height: 250px;
      overflow: scroll;
      margin: auto;
      display:inline-block;
      background:royalblue;
      opacity: 0.6;
      outline:none;
      font-size: 14px;                                                                                                                                                                                                                                   b                                                                                     bvbv      bvbbvbvbbbbbvbvvbvbv
  }

  /* styling for the
   examination page menu */
  .header_section {
    padding: none;
    font-family:sans-serif;
    background-color:#c3b9b9;
    font-size:15px;
    clear:both;
    padding-top:20px; 
    overflow-x:hidden;
    width:100%;
  }
  
  .image {
    display: flex;
    position:absolute;
    top: 20px;
    right: 120px;
    padding: none;
    width: 40px;
    height: 40px;
  }
  
  .image1 {
    display:flex;
    position: absolute;
    /* top:20px; */
    padding:none;
    width:auto;
    height:50px;
  }
  
  .button {
    border: none;
    color: white;
    padding: 0px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px;
    cursor: pointer;
    background-color: #000000;
    overflow: hidden;
  }
  
  .button {
    background-color: #3c3c3c00;
  }
  .button {
    position: absolute;
    top: 18px;
    right: 16px;
    font-size: 20px;
  }
  
  /* styling for the 
  examination page footer section */
  .footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #c3b2b2;
    color: #000004;
    text-align: left;
  }
  /* Create three equal columns that floats next to each other */
  .email {
    float: left;
    width: 30%;
    padding: 10px;
    height: 100px;
  }
  .location {
    float: right;
    width: 20%;
    padding: 10px;
    height: 100px;
  }
  .contact {
    float: none;
    width: 50%;
    padding-top: 10px;
    height: 100px;
  }
  
  /* additional styling for the page */
  .column {
    float: left;
    width: 25%;
  }

  .top-navigation {
    background-color: steelblue;
    overflow: hidden;
    width: auto;
    height: 50px;
    align-items: center;
    justify-content: space-around;
    min-height: 10vh;
    display:flex;
  }

  .tablinks {
   background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 50%;
    height: inherit;
    color: white;
    justify-content: space-around;
    align-items: center;
  }


  .solution-navigation {
    background-color: steelblue;
    overflow:hidden;
    width: auto;
    height: 50px;
    align-items: center;
    justify-content: space-around;
    min-height: 10vh;
    display: flex;
    margin-left: -20px;
  }

  .tab-navigation {
    position: relative;
    margin: 3rem 0;
    background: steelblue;
    height: auto;
    margin:0;
  }

  .tab-navigation::before,
  .tab-navigation::after{
    content: "";
    display: table;
  }

  .tab-navigation {
    clear:both;
  }

  .tab-navigation{
    float: left;
  }

  .switch-tabs {
    display:none;
  }

  .label-tab {
    position: relative;
    display:block;
    line-height: 2.75em;
    height: 3em;
    padding: 0 1.618em;
    background: steelblue;
    cursor: pointer;
    /* border-right: 0.125rem solid  */
    color: #fff;
    top: 0;
    transition: all 0.25s;
    border-right: 0.125rem solid steelblue;
  }

  .label-tab:hover{
    background-color: purple;
  }

  .tab-content {
    position: absolute;
    z-index: 1;
    top: 2.75em;
    left: 0;
    padding: 1.618rem;
    background: steelblue;
    color:white;
    opacity: 0;
    transition:all 0.35;
    width: fit-content;
  }

  .switch-tabs:checked + .label-tab {
    background-color: steelblue;
    color:white;
    border-bottom: 0;
    transition:all 0.35s;
    z-index:1;
    top: -0.0625rem;
  }

  .switch-tabs:checked + label + .tab-content {
    z-index: 2;
    opacity: 1;
    transition:all 0.35s;
  }
  /* .tab-navigation button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 16px;
  }

  .tab-navigation button:hover {
    background-color: steelblue;
  }
  
  .tab-navigation button.active {
    background-color: #ccc;
  } */
/* 
  .topnavigation a:hover {
    background-color: #ddd;
    color:black;
    text-decoration: none;
  }

  .topnavigation a.active {
    background-color: #000004;
  }

  .topnavigation-right {
    float: right;
  } */