/* new code now goes here */
/* code to display the question, solution and code output section */

.row::after{
    content: "";
    display: table;
    clear: both;
  }
  
  .solution-section {
    float: right;
    padding: 10px;
    height: 420px;
    width: 607px;
  
  }
  .question-section {
    float:left;
    padding: 10px;
    height: 650px;
    width:607px;
  }
  
  .code-output {
    height: 197px;
    width: 607px;
    float: right;
    padding: 10px;
  }
  .element-style {
      height:60px;
      width: 295px;
      padding-left:15px;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
  }
 
  button {
    background-color: #ffffff;
    /* color: darkseagreen; */
    /* border: 2px solid seagreen; */
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    padding: 15px 20px;
    margin: 4px 4px;
    /* margin-bottom: 8px; */
    height: 55px;
    width: 178px;
    align-items: flex-end;
    margin-left:270px;
    cursor:pointer;
  }

  /* styling for the
   examination page menu */
  .header {
    padding: none;
    font-family: sans-serif;
    background-color: #c3b9b9;
    font-size: 15px;
    clear: both;
    padding-top:20px; 
    overflow-x: hidden;
    width: 100%;
  
  }
  
  .image{
    display: flex;
    position:absolute;
    top: 20px;
    right: 120px;
    padding: none;
    width: 40px;
    height: 40px;
  }
  
  .image1 {
    display:flex;
    position: absolute;
    /* top:20px; */
    padding:none;
    width:auto;
    height:50px;
  }
  
  .button {
    border: none;
    color: white;
    padding: 0px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px;
    cursor: pointer;
    background-color: #000000;
    overflow: hidden;
  }
  
  .button {
    background-color: #3c3c3c00;
  }
  .button {
    position: absolute;
    top: 18px;
    right: 16px;
    font-size: 20px;
  }
  
  /* styling for the 
  examination page footer section */
  .footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #c3b2b2;
    color: #000004;
    text-align: left;
  }
  /* Create three equal columns that floats next to each other */
  .email {
    float: left;
    width: 30%;
    padding: 10px;
    height: 100px;
  }
  .location {
    float: right;
    width: 20%;
    padding: 10px;
    height: 100px;
  }
  .contact {
    float: none;
    width: 50%;
    padding-top: 10px;
    height: 100px;
  }
  