* {
    box-sizing: border-box;
}

body {
    overflow-y: hidden;
    overflow-x: hidden;
    background: #001a32;
}

.first_column, .second_column {
    float: left;
    padding: 10px;
    width: 50%;
    
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* styles the left column of the examination page */
.question_section {
    height: 690px;
    width: 635px;
    overflow: hidden;
    overflow-y: scroll;
    background-color:#001528;
    margin-left:-5px;
    border: 2px #001528 solid;
}

/* styles the top right column of the examination page */
.solution_section {
    height: 420px;
    width: 607px;
    background-color:#001528;
    margin-left: 10px;
    margin-right: -10px;
}

/* styles the bottom right column of the examination page */
.code_output {
    height: 250px;
    width: 607px;
    background-color:#001528;
    margin-left:10px;
}

/*styles the navigation buttons of the question section */
#Query, #hint, #video, #Scribblepad{
    background-color: #022c46;
}

.tab_content {
    color: black;
    display:none;
    padding:20px;
    width: auto;
    height: 100%;
}

/*additional styling for the navigation buttons */
.tab_link{
    background-color: #022c46;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}
/* .btn_block {
    width: 100%;
} */

.pill_nav {
    display:inline-block;
    width: inherit;
    background-color:#022c46;
}

.resize {
    margin-left: 100px;
}

.position_button {
    margin-left: 400px;
}

.display_content {
    color: white;
    padding: 20px;
}

.function_display {
    color: lightskyblue;
}

.style_pre {
    background-color: #022c46;
    text-align:left;
    /* margin-left: -250px; */
    width: inherit;
    margin-left:-20px;
    height: 75px;
    padding:10px;
    margin-left: 5px;
}

/* styling the accordion */
.accordion {
    background-color: #15314b;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size:15px;
    transition: 0.5s;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color:#15314b;
    overflow: hidden;
}

.accordion::after {
    content: '\0002b';
    color: #777;
    font-weight: bold;
    float:right;
    margin-left: 5px;
}


textarea {
    width: inherit;
    float:top;
    overflow: scroll;
    margin: auto;
    display: inline-block;
    background: #001528;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    /* height: inherit; */
    color: white;
    overflow: hidden;
    height:370px;
    border-top: none;
}

textarea:focus, input:focus{
    outline: 0;
}


.outlook {
    resize:both;
    overflow: auto;
}

/*style the webkit scrollbar */

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  } 

 
/* Handler has a background color of blue */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 2px;
  border-radius: 4px;
  background : steelblue; 
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

/* ::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255,0,0,0.4); 
} */