* {
    box-sizing: border-box;
}

body {
    overflow-y: hidden;
    overflow-x: hidden;
}

.first_column, .second_column {
    float: left;
    padding: 10px;
    width: 50%;
    
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.question_section {
    height: 650px;
    width: 607px;
    overflow: hidden;
    overflow-y: scroll;
    background-color:steelblue;
}

.solution_section {
    height: 420px;
    width: 607px;
    background-color:steelblue;
}

.code_output {
    height: 197px;
    width: 607px;
    background-color: steelblue;
}

#Query, #hint, #video, #Scribblepad{
    background-color: #022c46;
}

.tab_content {
    color: black;
    display:none;
    padding:20px;
    width: auto;
    height: 100%;
}

.tab_link{
    background-color: #022c46;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}
/* .btn_block {
    width: 100%;
} */

.pill_nav {
    display:inline-block;
    width: inherit;
    background-color:#022c46;
}

.resize {
    margin-left: 100px;
}

.position_button {
    margin-left: 400px;
}

.display_content {
    color: white;
    padding: 20px;
}

.function_display {
    color: lightskyblue;
}

.style_pre {
    background-color: #022c46;
    text-align:left;
    /* margin-left: -250px; */
    width: inherit;
    margin-left:-20px;
    height: 75px;
    padding:10px;
    margin-left: 5px;
}

